.header__logo {
    width: 160px;
    height: 40px;
}

.build__right__first__img {
    width: 72px;
    height: 72px;
}

.deliver__box__img {
    width: 62px;
    height: 62px;
    display: block;
    margin: 0 auto;
}

.footer__first__logo {
    width: 160px;
    height: 40px;
    margin-bottom: 25px;
}

.footer__third__img {
    width: 24px;
    height: 24px;
}

.director__box__img {
    width: 96px;
    height: 96px;
    margin-bottom: 16px;
}