body {
    margin: 0;
    padding: 0;
    font-family: "Livvic", sans-serif;
}

.container {
    max-width: 1110px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.main {
    background-image: url("/images/main__bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 73px;
}

.header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__left__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
}

.header__right__btn {
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 24px;
    padding: 9px 33px 11px 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
}

.talent__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 129px;
    padding-bottom: 250px;
}

.talent__left__title {
    margin: 0;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: rgba(255, 255, 255, 1);
}

.talent__left__span {
    color: rgba(246, 126, 126, 1);
}

.talent__right {
    width: 445px;
}

.talent__right__text {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
}

.talent__right__span {
    display: inline-block;
    background-color: rgba(121, 200, 199, 1);
    margin: 0 0 79px 0;
    width: 50px;
    height: 4px;
}

.build {
    background-image: url("/images/build__bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.build__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 125px;
    padding-top: 140px;
    padding-bottom: 140px;
}

.build__right__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 23px;
}

.build__right__first__texts {
    width: 445px;
}

.build__left {
    width: 445px;
}

.build__left__span {
    display: inline-block;
    width: 50px;
    height: 4px;
    background-color: rgba(246, 126, 126, 1);
    margin: 0 0 54px 0;
}

.build__left__title {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: rgba(255, 255, 255, 1);
}

.build__right__first__title {
    margin: 0 0 16px 0;
    color: rgba(246, 126, 126, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.build__right__first__text {
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
}

.deliver {
    background-image: url("/images/deliver__bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.deliver__inner {
    padding-top: 140px;
    padding-bottom: 140px;
}

.deliver__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 48px;
}

.deliver__box {
    background-image: url("/images/string__img.png");
    background-position: top;
    background-repeat: no-repeat;
    width: 350px
}

.deliver__title {
    margin: 0 0 56px 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.deliver__span {
    margin: 0;
    color: rgba(121, 200, 199, 1);
}

.deliver__box__text {
    margin: 0 0 16px 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.deliver__box__title {
    margin: 0 0 2px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: rgba(121, 200, 199, 1);
    text-align: center;
}

.deliver__box__p {
    margin: 0 0 32px 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.ready {
    background-image: url("/images/ready__bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ready__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 76px;
    padding-bottom: 76px;
}

.ready__title {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: rgba(1, 47, 52, 1);
    margin: 0 0 0 130px;
}

.ready__btn {
    border: 2px solid rgba(1, 47, 52, 1);
    border-radius: 24px;
    padding: 9px 33px 11px 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: rgba(1, 47, 52, 1);
    background-color: transparent;
}

footer {
    background-color: rgba(0, 37, 41, 1);
}

.footer__second {
    width: 445px; height: 100px;
}

.footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 125px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer__first__texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
}

.footer__first__text {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.footer__second__text {
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
}

.footer__third__imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    margin: 0 0 51px 0;
}

.footer__third__text {
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: rgba(255, 255, 255, 1);
}

.footer__third {
    margin-left: -10px;
}

.media__menu {
    display: none;
    width: 20px;
    height: 17px;
}